<div class="panel panel-default">
  <div class="panel-heading">household.name</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        Members: <%= household.users.count %>
        Active since: <%= household.date_created %>
      </div>
      <div class="col-md-6">
        Head:
        <% @head = User.where(id: household.user_id)[0] %>
        <%= gravatar_for @head, size: 35 %>
        <%= @head.firstname + " " + @head.surname %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
      <%= link_to "Decline Application", decline_application_path(application.user.id, application.household.id), method: :post, data: {confirm: "Are you sure you want to decline this user?"} %>
  </div>
</div>
