<h1>Search for users to invite to the household:</h1>
<%= form_tag(search_members_path, method: "get") do %>
  <%= label_tag "Search a user" %>
  <%= text_field_tag :search_query %>
  <%= submit_tag "Search Again", class: "btn btn-primary" %>
<% end %>

<hr>



<% @users.each do |user| %>
  <%= render partial: "show_user", object: user, as: 'user' %>
<% end %>
