<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "shopping app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home",   root_path %></li>
        <% if logged_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= gravatar_for(current_user, options = { size: 28 }) %> <%= current_user.firstname %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
            <% if belongs_to_household? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Household Options <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li> <%= link_to "Leave Household", leave_household_url(current_user.id), :data => {:confirm => 'Are you sure you want to leave the household?'} %> </li>
                </ul>
              </li>
              <% if current_user.id == current_user.household.user %>

              <% end %>
            <% end %>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>

    </nav>
  </div>
</header>
