<div class="panel panel-default">
  <div class="panel-heading"> <%= household.name %> </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        Members: <%= household.users.count %> <br />
        Active since: <%= household.created_at %>
      </div>
      <div class="col-md-6">
        Head:
        <% @head = User.where(id: household.user_id)[0] %>
        <%= gravatar_for @head, size: 35 %>
        <%= @head.firstname + " " + @head.surname %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
      <%= link_to "Apply",
        create_household_application_path(current_user.id, household.id),
        method: :post,
        class: "btn btn-primary",
        data: {confirm: "Are you sure you want to apply to this household?"} %>
  </div>
</div>
