<% @head = current_user.household.user %>
<% @current_user = current_user %>

<%# Page title: %>
<h1> <%= current_user.household.name %> </h1>

<%# Head: %>
<h2> Head: </h2>
<div class="panel panel-default">
  <div class="panel-body">
    <%= gravatar_for @head, size: 35 %>
    <%= @head.firstname + " " + @head.surname %>
  </div>
</div>
</br>

<%# Members: %>
<% if @head.household.users.count > 1 %>
  <h2> Members: </h2>
  <% User.where(household_id: @current_user.household.id).find_each do |member| %>
    <% if member.id != @head.id %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for member, size: 35 %>
          <%= member.firstname + " " + member.surname %>
        </div>
        <%# If the user viewing the page is the head of the household: %>
        <% if @current_user.id == @head.id %>
        <div class="panel-footer">
          <%= link_to "Kick Member", kick_member_path(member.id), method: :post, data: {confirm: "Are you sure?"} %>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
</br>

<%# Shopping Lists: %>
<h2> Shopping lists: </h2>
  <% @list = ShoppingList.find_by(household_id: @current_user.household.id) %>
  <% if @list.nil? %>
    <%# There's no shopping list. Create one: %>
    <%= link_to create_shopping_list_path(@current_user.household.id), class: "btn btn-primary", method: :post %>
  <% else %>
    <%# There is a shopping list. Iterate through each and render them: %>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-header">
          <h3> Shopping List </h3>
        </div>
        <div class="panel-body">
          <% @list.items.each do |item| %>
            <%= render partial: "shopping_lists/item", object: item %>
            <br>
          <% end %>
        </div>
      </div>
      <div class="panel panel-footer">
        <p> Total Items: <%= @list.items.count %> </p>
        <p> Total Price: R<%= @list.items.map{ |item| item.price }.reduce(:+) %> </p>
      </div>
    </div>
    <%= form_tag search_items_path, method: :get, :class => "form-inline" do %>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
    <% end %>
  <% end %>



<%# Head Admin stuff: %>
<% if @current_user.id == @head.id %>
  <h2> Household Head administrative functions </h2>
  <div class="panel-group">

    <h3> Can other users apply to become members? </h3>
    <div class="panel panel-default">
      <div class="panel-body">
      <% if @head.household.joinable? %>
        <%= link_to "Close Household", close_household_path(@current_user.household.id), class: "btn btn-primary", method: :post %>
      <% else %>
        <%= link_to "Open Housheold", open_household_path(@current_user.household.id), class: "btn btn-primary", method: :post %>
      <% end %>
      </div>
    </div>

    <% unless (pending_applications = Invitation.where("household_id = ? AND is_invitation = ?", @head.household.id, false)).empty? %>
      <h3> Pending Membership Applications: </h3>
      <% pending_applications.each do |application| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for application.user, size: 35 %>
          <%= application.user.firstname + " " + application.user.surname %>
        </div>
        <div class="panel-footer">
          <%= link_to "Decline Application", decline_application_path(application.household.id, application.user.id), method: :post, data: {confirm: "Are you sure you want to decline this user?"} %> |
          <%= link_to "Accept Application", accept_application_path(application.household.id, application.user.id), method: :post, data: {confirm: "Are you sure you want to accept this user?"} %>
        </div>
      </div>
      <% end %>
    <% end %>

    <% unless (pending_invitations = Invitation.where(household_id: @head.household.id, is_invitation: true)).empty? %>
      <h3> Pending Membership Invitations: </h3>
      <% pending_invitations.each do |invitation| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for invitation.user, size: 35 %>
          <%= invitation.user.firstname + " " + invitation.user.surname %>
        </div>
        <div class="panel-footer">
          <%= link_to "Rescind Invitation", rescind_invitation_path(invitation.household.id, invitation.user.id), method: :post, data: {confirm: "Are you sure you want to rescind this invitation?"} %>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>

  <h3> Invite other members: </h3>
  <%= link_to "Invite Members", search_members_path(" "), class: "btn btn-primary" %>
<% end %>
