<% @head = current_user.household.user %>
<% @current_user = current_user %>

<%# Page title: %>
<h1> <%= current_user.household.name %> </h1>

<%# Head: %>
<h2> Head: </h2>
<div class="panel panel-default">
  <div class="panel-body">
    <%= gravatar_for @head, size: 35 %>
    <%= @head.firstname + " " + @head.surname %>
  </div>
</div>
</br>

<%# Members: %>
<% if @head.household.users.count > 1 %>
  <h2> Members: </h2>
  <% User.where(household_id: @current_user.household.id).find_each do |member| %>
    <% if member.id != @head.id %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for member, size: 35 %>
          <%= member.firstname + " " + member.surname %>
        </div>
        <%# If the user viewing the page is the head of the household: %>
        <% if @current_user.id == @head.id %>
        <div class="panel-footer">
          <%= link_to "Kick Member", kick_member_path(member.id), method: :post, data: {confirm: "Are you sure?"} %>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
</br>

<%# Shopping Lists: %>
<h2> Shopping lists: </h2>
  <% @list = ShoppingList.find_by(household_id: @current_user.household.id) %>
  <% if @list.nil? %>
    <%# There's no shopping list. Create one: %>
    <p> Your household doesn't have a list yet. Please create one: </p>
    <%= link_to "Create Shopping List", create_shopping_list_path(@current_user.household.id), class: "btn btn-primary" %>
  <% else %>
    <%# There is a shopping list, but it doesn't have items. Just display the search items button: %>
    <% if @list.items.nil? || @list.items.empty? %>
      <p> Your list doesn't have items. Start adding items via the search box below. </p>
    <%# There is a shopping list, and it has items. Iterate through each and render them: %>
    <% else %>
      <div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
        <div class="panel-header">
          <div class="row">
          <div class="col-md-4">
            <h3> Shopping List </h3>
          </div>
          <div class="col-md-8">
            <div class="row">
              <p> Total Items: <%= @list.items.count %> </p>
            </div>
            <div class="row">
              <p> Total Price: R<%= @list.items.map{ |item| item[:price].to_f }.reduce(:+).round(2) %> </p>
            </div>
          </div>
        </div>
        </div>
        <div class="panel-body">
          <div class="panel-group">
            <%= form_tag remove_items_path, method: :post do %>
              <% @list.items.each_with_index do |item, index| %>
                <div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
                  <div class="panel-heading">
                    <h3 class="panel-title">Item Number: <%= index %></h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-2">
                        <img src=<%= item[:img_url] %> class="img-rounded" style="width: 100px; height: 100px">
                      </div>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-9">
                            Item Name: <%= item[:description] %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-9">
                            Item Price: R<%= item[:price] %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-9">
                            Item Capture Date: <%= item[:date_captured] %>
                          </div>
                        </div>
                        <% @user = User.find_by(id: item[:added_by]) %>
                        <% if !@user.nil? %>
                        <div class="row">
                          <div class="col-md-9">
                            Item Added By: <%= @user.firstname %>
                          </div>
                        </div>
                        <% end %>
                      </div>
                      <div class="col-md-1">
                        <%= check_box_tag( 'items[]', item._id.to_yaml ) %>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              <% end %>
            </div>
          </div>
          <div class="panel-footer">
            <%= submit_tag "Remove Selected Items to Shopping List", name: nil, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
    <% end %>
  <% end %>
  <%= form_tag search_item_path, method: :get, :class => "form-inline" do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
  <% end %>



<%# Head Admin stuff: %>
<% if @current_user.id == @head.id %>
  <h2> Household Head administrative functions </h2>
  <div class="panel-group">

    <h3> Can other users apply to become members? </h3>
    <div class="panel panel-default">
      <div class="panel-body">
      <% if @head.household.joinable? %>
        <%= link_to "Close Household", close_household_path(@current_user.household.id), class: "btn btn-primary", method: :post %>
      <% else %>
        <%= link_to "Open Housheold", open_household_path(@current_user.household.id), class: "btn btn-primary", method: :post %>
      <% end %>
      </div>
    </div>

    <% unless (pending_applications = Invitation.where("household_id = ? AND is_invitation = ?", @head.household.id, false)).empty? %>
      <h3> Pending Membership Applications: </h3>
      <% pending_applications.each do |application| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for application.user, size: 35 %>
          <%= application.user.firstname + " " + application.user.surname %>
        </div>
        <div class="panel-footer">
          <%= link_to "Decline Application", decline_application_path(application.household.id, application.user.id), method: :post, data: {confirm: "Are you sure you want to decline this user?"} %> |
          <%= link_to "Accept Application", accept_application_path(application.household.id, application.user.id), method: :post, data: {confirm: "Are you sure you want to accept this user?"} %>
        </div>
      </div>
      <% end %>
    <% end %>

    <% unless (pending_invitations = Invitation.where(household_id: @head.household.id, is_invitation: true)).empty? %>
      <h3> Pending Membership Invitations: </h3>
      <% pending_invitations.each do |invitation| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for invitation.user, size: 35 %>
          <%= invitation.user.firstname + " " + invitation.user.surname %>
        </div>
        <div class="panel-footer">
          <%= link_to "Rescind Invitation", rescind_invitation_path(invitation.household.id, invitation.user.id), method: :post, data: {confirm: "Are you sure you want to rescind this invitation?"} %>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>

  <h3> Invite other members: </h3>
  <%= link_to "Invite Members", search_members_path(" "), class: "btn btn-primary" %>
<% end %>
